*.pt
/domain_generation_algorithms/
/Adversarial-DGA-Datasets/
/resources/
/.idea/
/.ipynb_checkpoints/
*.csv
/catboost_info/
!/data/domain_generation_algorithms/*/example_domains.txt
!/data/domain_generation_algorithms/banjori/example_domains.txt

!/Makefile

!/Makefile.common

!/Makefile.common.v0.72

!/poetry.lock

!/pyproject.toml
/models/en.word_split_0.1_32/
/models/glove.no_split/
/models/glove.word_split_0.1_32/
/models/glove.word_split_0.5_256/
/data/old/
